<header>
    <form>
        <div class="group">
            <input type="text" name="search" placeholder="Pokemon Name" id="name">
            <label for="name">Pokémon Name</label>
        </div>
    </form>
</header>